$primary-color: #0F6F6F;
$secondary-color: #808080;
$border-color: #E6E6E6;
$border-radius: 8px;
$base-color: #9DD8E5; 
$progress-bars: 10;

// Base styles
.app {
    display: flex;
    // padding:2rem 7rem;
    // @media (max-width: 980px) {
    //     padding:2rem 0rem;
    // }
    // @media (max-width: 800px) {
    //     padding:2rem 0;
    // }
}
.content{
    padding: 2rem 7rem ;
    @media (max-width: 980px) {
           padding:2rem 0rem;
        }
    width: 100%;
}
.main-heading {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    @media (max-width: 550px) {
        font-size: 40px;
        text-align: center;
    }
}
.dashboard {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 4rem 4rem;
    @media (max-width: 550px) {
        flex-direction: column;
        // margin-bottom: 5px;
    }

.year, .total {
        display: flex;
        flex-direction: column; 
        align-items: center;

}}

.label {
    color: $secondary-color;
    font-weight: 300;
    font-size: 24px;
    // animation: bottomToTop 0.5s ease-out forwards;
}

.value {
    color: $primary-color;
    font-weight: bold;
    font-size: 56px;
    // animation: bottomToTop 0.5s ease-out forwards;
}

.countries-report {
    background-color: white;
    padding: 2rem;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    @media (max-width: 600px) {
    padding: 2rem 1rem;
    }
}

.data {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    @media (max-width: 600px) {
        flex-direction: column;
        align-items: normal;
    }
}
.country-name, .total-value {
    font-size: 16px;
    width: 25%;
    font-weight: 700;
    text-align: end;
    // animation: bottomToTop 0.5s ease-out forwards;
    @media (max-width: 600px) {
        margin: 3px 0;
        width: 100%;
        text-align: unset;
      }
}
.total-label{
    text-align: right;
    font-size: 12px;
    font-weight:300 ;
    @media (max-width: 600px) {
      display: none;
    }
}

@for $i from 0 through $progress-bars {
    $color: darken($base-color, ($i * 7%));

    .country-report-#{$i} {       
        height: 17px; 
        width:50%;
        appearance: none;
        margin: 0px 10px;
        @media (max-width: 600px) {
            margin: 0px;
          }

        &::-webkit-progress-bar {
            background-color:white; 
            border-radius: 5px; 
        }

        &::-webkit-progress-value {
            background-color: $color;
            border-radius: 5px; 
        }
    }
}


